# Tubelight CTI API Configuration
TUBELIGHT_TENANT_ID=medikeezhealthcarell
TUBELIGHT_ACCESS_KEY=59bcc9d5-6efe-4473-8fc3-ea46c2719848
TUBELIGHT_AGENT_VERIFICATION_KEY=agent@example.com
TUBELIGHT_BASE_URL=https://dashboard.hellotubelight.com
